@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: awsome;
  font-weight: bold;
  src: url(./../fonts/awsome.otf);
}
@font-face {
  font-family: awsome_b;
  font-weight: bold;
  src: url(./../fonts/awsome_b.otf);
}

@font-face {
  font-family: "Iranian Sans";
  font-weight: bold;
  src: url(./../fonts/IRANSansWeb.woff2) ;
}
@font-face {
  font-family: "Iranian Sans_medium";
  font-weight: bold;
  src: url(./../fonts/IRANSansWeb_Medium.woff2) ;
}
@font-face {
  font-family: "Iranian Sans_bold";
  font-weight: bold;
  src: url(./../fonts/IRANSansWeb_Bold.woff2) ;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.scrollbar-hide { -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }
.scrollbar-hide::-webkit-scrollbar { display: none; /* Safari and Chrome */ } /* Ensure the scrollbar shows up on hover */
.scroll-on-hover:hover { overflow-y: scroll; }
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-input-range .input-range__slider {
  width: 60px; /* Increase the width */
  height: 60px; /* Increase the height */
  background: #007bff; /* Change the color */
  border-radius: 50%; /* Make it circular */
  border: 2px solid #fff; /* Add a border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
}



